body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 30px;
    background-color: #f2f2f2;
}

h2 {
    color: #333;
    margin-bottom: 25px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul, li {
    margin-bottom: 10px;
    text-align: center;
}

ul, li, a {
    text-align: center;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

ul, li, a:hover {
    color: #0056b3;
}

form {
    text-align: center;
    margin-top: 20px;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 25%;
}

table, td {
    padding: 8px;
}

input[type="text"], input[type="password"] {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"], input[type="reset"]{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    display: block;
    margin: auto;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #0056b3;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
}

a:hover {
    color: #0056b3;
}

.container {
    height: 90vh;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    text-align: center;
    border-radius: 20px;
    background-color: white;
}